NODE_ENV=development
PORT=3100
# Emulador local: Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;
SERVICEBUS_CONNECTION_STRING=
SERVICEBUS_QUEUE_NAME=tareas-orquestador
